.gallery {
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 5px;
}
.gallery:hover {
    border: 1px solid #777;
    cursor: pointer;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    max-width: 100%;
    font-size:16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

a {
    text-decoration: none;
    color: none;
}